Si es un sistema de recomendación item-item:

### def recomendacion_juego( id de producto ): 
    Ingresando el id de producto, deberíamos recibir una lista con 5 juegos recomendados similares al ingresado.

crear la base de datos

In [2]:
#cargar librerias
import os
import pandas as pd

In [3]:
#cargar datos del juego, 
# Clean_DataGames_T3 me da el nombre del juego, el item id.
data= pd.read_json(r'../etl/dataset_raw/Clean_DataGames_T3.json')
data.head(5)

                 item_name  release_date   item_id
0      LOST SUMMONER KITTY          2018  761140.0
1                IRONBOUND          2018  643980.0
2  REAL POOL 3D - POOLIANS          2017  670290.0
3                  弹炸人2222          2017  767400.0
5    BATTLE ROYALE TRAINER          2018  772540.0

In [4]:
data.drop(columns={'release_date'},axis=1,inplace=True)# eliminar la columna release_date
data.dropna(subset=['item_id'], inplace=True) # eliminar los vacios de item_id
data['item_id']=data['item_id'].astype(int) # cabiar a tipo int el valor de item_id
data.head(5)

                 item_name  item_id
0      LOST SUMMONER KITTY   761140
1                IRONBOUND   643980
2  REAL POOL 3D - POOLIANS   670290
3                  弹炸人2222   767400
5    BATTLE ROYALE TRAINER   772540

In [5]:
#Clean_DataGames me da el genero del juego, el item id.
data2= pd.read_json(r'../etl/dataset_raw/Clean_DataGames.json')
data2.head(5)
data2[data2['item_id']==761140]

       genres  release_date  item_id  developer
0      ACTION          2018   761140  KOTOSHIRO
1      CASUAL          2018   761140  KOTOSHIRO
2       INDIE          2018   761140  KOTOSHIRO
3  SIMULATION          2018   761140  KOTOSHIRO
4    STRATEGY          2018   761140  KOTOSHIRO

In [6]:
data2.drop(columns={'release_date','developer'},axis=1,inplace=True)# eliminar la columna release_date y developer
data2.dropna(subset=['item_id'], inplace=True) # eliminar los vacios de item_id

data2.head(5)

       genres  item_id
0      ACTION   761140
1      CASUAL   761140
2       INDIE   761140
3  SIMULATION   761140
4    STRATEGY   761140

In [14]:
df= pd.merge(data2, data, on='item_id')
df

           genres  item_id            item_name
0          ACTION   761140  LOST SUMMONER KITTY
1          CASUAL   761140  LOST SUMMONER KITTY
2           INDIE   761140  LOST SUMMONER KITTY
3      SIMULATION   761140  LOST SUMMONER KITTY
4        STRATEGY   761140  LOST SUMMONER KITTY
...           ...      ...                  ...
70349       INDIE   610660        RUSSIAN ROADS
70350      RACING   610660        RUSSIAN ROADS
70351  SIMULATION   610660        RUSSIAN ROADS
70352      CASUAL   658870  EXIT 2 - DIRECTIONS
70353       INDIE   658870  EXIT 2 - DIRECTIONS

[70354 rows x 3 columns]

In [19]:
genres_dummies = pd.get_dummies(df['genres'])
genres_dummies

,ACCOUNTING,ACTION,ADVENTURE,ANIMATION &AMP; MODELING,AUDIO PRODUCTION,CASUAL,DESIGN &AMP; ILLUSTRATION,EARLY ACCESS,EDUCATION,FREE TO PLAY,...,PHOTO EDITING,RACING,RPG,SIMULATION,SOFTWARE TRAINING,SPORTS,STRATEGY,UTILITIES,VIDEO PRODUCTION,WEB PUBLISHING
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70349,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
70350,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
70351,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
70352,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
70353,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
df = pd.concat([df, genres_dummies], axis=1)

In [21]:
df.drop(columns=['genres'], inplace=True)

In [22]:
df

,item_id,item_name,ACCOUNTING,ACTION,ADVENTURE,ANIMATION &AMP; MODELING,AUDIO PRODUCTION,CASUAL,DESIGN &AMP; ILLUSTRATION,EARLY ACCESS,...,PHOTO EDITING,RACING,RPG,SIMULATION,SOFTWARE TRAINING,SPORTS,STRATEGY,UTILITIES,VIDEO PRODUCTION,WEB PUBLISHING
0,761140,LOST SUMMONER KITTY,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,761140,LOST SUMMONER KITTY,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,761140,LOST SUMMONER KITTY,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,761140,LOST SUMMONER KITTY,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,761140,LOST SUMMONER KITTY,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70349,610660,RUSSIAN ROADS,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
70350,610660,RUSSIAN ROADS,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
70351,610660,RUSSIAN ROADS,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
70352,658870,EXIT 2 - DIRECTIONS,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
70353,658870,EXIT 2 - DIRECTIONS,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
#reducimos las clasificaciones a las mas importantes.
df.drop(columns={'ACCOUNTING','SPORTS', 'ANIMATION &AMP; MODELING','AUDIO PRODUCTION',	'CASUAL',	'DESIGN &AMP; ILLUSTRATION' ,'EARLY ACCESS','SOFTWARE TRAINING','FREE TO PLAY','PHOTO EDITING','UTILITIES','VIDEO PRODUCTION','WEB PUBLISHING'},axis=1,inplace=True)
df

,item_id,item_name,ACTION,ADVENTURE,EDUCATION,INDIE,MASSIVELY MULTIPLAYER,RACING,RPG,SIMULATION,STRATEGY
0,761140,LOST SUMMONER KITTY,True,False,False,False,False,False,False,False,False
1,761140,LOST SUMMONER KITTY,False,False,False,False,False,False,False,False,False
2,761140,LOST SUMMONER KITTY,False,False,False,True,False,False,False,False,False
3,761140,LOST SUMMONER KITTY,False,False,False,False,False,False,False,True,False
4,761140,LOST SUMMONER KITTY,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
70349,610660,RUSSIAN ROADS,False,False,False,True,False,False,False,False,False
70350,610660,RUSSIAN ROADS,False,False,False,False,False,True,False,False,False
70351,610660,RUSSIAN ROADS,False,False,False,False,False,False,False,True,False
70352,658870,EXIT 2 - DIRECTIONS,False,False,False,False,False,False,False,False,False
70353,658870,EXIT 2 - DIRECTIONS,False,False,False,True,False,False,False,False,False

In [29]:
grouped_data = df.groupby(['item_id', 'item_name']).max().reset_index()
grouped_data.head()

,item_id,item_name,ACTION,ADVENTURE,EDUCATION,INDIE,MASSIVELY MULTIPLAYER,RACING,RPG,SIMULATION,STRATEGY
0,10,COUNTER-STRIKE,True,False,False,False,False,False,False,False,False
1,20,TEAM FORTRESS CLASSIC,True,False,False,False,False,False,False,False,False
2,30,DAY OF DEFEAT,True,False,False,False,False,False,False,False,False
3,40,DEATHMATCH CLASSIC,True,False,False,False,False,False,False,False,False
4,50,HALF-LIFE: OPPOSING FORCE,True,False,False,False,False,False,False,False,False

In [30]:
grouped_data[grouped_data['item_id']==761140]

,item_id,item_name,ACTION,ADVENTURE,EDUCATION,INDIE,MASSIVELY MULTIPLAYER,RACING,RPG,SIMULATION,STRATEGY
28088,761140,LOST SUMMONER KITTY,True,False,False,True,False,False,False,True,True

In [31]:
#guardar el df para el ML
grouped_data.to_parquet('recomendacion_juego.parquet',index=False)

# crear la funcion de ML

In [32]:
grouped_data

,item_id,item_name,ACTION,ADVENTURE,EDUCATION,INDIE,MASSIVELY MULTIPLAYER,RACING,RPG,SIMULATION,STRATEGY
0,10,COUNTER-STRIKE,True,False,False,False,False,False,False,False,False
1,20,TEAM FORTRESS CLASSIC,True,False,False,False,False,False,False,False,False
2,30,DAY OF DEFEAT,True,False,False,False,False,False,False,False,False
3,40,DEATHMATCH CLASSIC,True,False,False,False,False,False,False,False,False
4,50,HALF-LIFE: OPPOSING FORCE,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
28372,901805,SAINTS ROW: THE THIRD SEASON PASS DLC PACK,True,False,False,False,False,False,False,False,False
28373,2028055,TOM CLANCY'S GHOST RECON FUTURE SOLDIER - SEAS...,True,False,False,False,False,False,False,False,False
28374,2028056,WORMS REVOLUTION SEASON PASS,False,False,False,False,False,False,False,False,True
28375,2028103,ASSASSIN’S CREED® III SEASON PASS,True,True,False,False,False,False,False,False,False
28376,2028850,BIOSHOCK INFINITE: COLUMBIA'S FINEST,True,False,False,False,False,False,False,False,False

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# Obtener las características de los ítems (columnas desde 'ACTION' en adelante)
features = grouped_data.iloc[:, 2:]

# Calcular la similitud de coseno entre los vectores de características
cosine_sim = cosine_similarity(features, features)

# Obtener el índice del ítem por el que quieres encontrar similitudes
target_index = 0  # Cambia este valor según el índice del ítem que deseas buscar similitudes

# Ordenar los ítems según la similitud de coseno y obtener los 5 ítems más similares
similar_items_indices = cosine_sim[target_index].argsort()[-6:-1][::-1]

# Obtener los nombres de los ítems similares
similar_items_names = data.iloc[similar_items_indices]['item_name'].values

# Imprimir los nombres de los 5 ítems más similares
print("Los 5 ítems más similares a", data.at[target_index, 'item_name'], "son:")
for name in similar_items_names:
    print(name)

In [48]:
#2 veamos para el 10, 20, 2028850
from sklearn.metrics.pairwise import cosine_similarity

def recomendacion_juego( id_de_producto : int): 
        
    # Filtrar el DataFrame para obtener solo las filas correspondientes al item_id de consulta
    consulta = grouped_data[grouped_data['item_id'] == id_de_producto].iloc[:, 2:]

    # Calcular la similitud de coseno entre el item de consulta y todos los demás items
    similaridades = cosine_similarity(consulta, grouped_data.iloc[:, 2:])

    # Obtener los índices de los items más similares (excepto el item de consulta)
    indices_mas_similares = similaridades.argsort(axis=1)[0][-6:-1]

    # Obtener los nombres de los items más similares
    nombres_mas_similares = grouped_data.loc[indices_mas_similares, 'item_name']

    llave= f"Los 5 item_name más similares al item_id {item_id_consulta}son:"
    # Mostrar los nombres de los items más similares
    return {llave : nombres_mas_similares}

In [49]:
recomendacion_juego(2028850)

{'Los 5 item_name más similares al item_id 2028103son:': 13388                 GGXRD SYSTEM VOICE - BEDMAN
 13389    GGXRD SYSTEM VOICE - RAMLETHAL VALENTINE
 13390              GGXRD SYSTEM VOICE - SIN KISKE
 13391      GGXRD SYSTEM VOICE - ELPHELT VALENTINE
 16381                             HIDE AND SHRIEK
 Name: item_name, dtype: object}

In [44]:
recomendacion_juego(2028103)

7253                            RAID MODE: ALBUM STORAGE B
20778    TOM CLANCY'S GHOST RECON® WILDLANDS - SEASON PASS
20779     TOM CLANCY'S GHOST RECON® WILDLANDS - NARCO ROAD
20780    TOM CLANCY'S GHOST RECON® WILDLANDS - FALLEN G...
7288                                           PIRATE HELL
Name: item_name, dtype: object

In [42]:
recomendacion_juego(20)

13388                 GGXRD SYSTEM VOICE - BEDMAN
13389    GGXRD SYSTEM VOICE - RAMLETHAL VALENTINE
13390              GGXRD SYSTEM VOICE - SIN KISKE
13391      GGXRD SYSTEM VOICE - ELPHELT VALENTINE
16381                             HIDE AND SHRIEK
Name: item_name, dtype: object