In [1]:
import pandas as pd
import numpy as np
import os
import json
from pandas import json_normalize
import ast

cargar los datos del archivo output_steam_games.json

In [2]:

ruta_archivo_json = r'output_steam_games.json'

# Lee el archivo JSON y carga los datos en una lista de diccionarios
data_list = []
with open(ruta_archivo_json, 'r', encoding='utf-8') as file:
    for line in file:
        
        data_list.append(json.loads(line.strip()))#carga la linea y limpia espacios vacios 

a= pd.DataFrame(data_list) # lo convierte en DF

In [18]:
a.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#se elimina filas completas por vacio
a.dropna(how='all',inplace=True)
a.reset_index(drop=True)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
32131,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
32132,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
32133,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
32134,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

brincar para T3UserRecommends para trabajar

In [5]:
# se eliminan las columnas inncesarias para las peticiones
a.drop(['publisher','title','url','tags','reviews_url','specs','price','early_access','app_name'],axis=1, inplace=True)
a

,genres,release_date,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",2018-01-04,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",2018-01-04,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",2017-07-24,670290,Poolians.com
88313,"[Action, Adventure, Casual]",2017-12-07,767400,彼岸领域
88314,NaN,NaN,773570,NaN
...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",2018-01-04,773640,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",2018-01-04,733530,Sacada
120442,"[Indie, Racing, Simulation]",2018-01-04,610660,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",2017-09-02,658870,"xropi,stev3ns"
120444,NaN,NaN,681550,NaN

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   release_date  30068 non-null  object
 2   id            32133 non-null  object
 3   developer     28836 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB

In [7]:
a.isnull().sum()

genres          3283
release_date    2067
id                 2
developer       3299
dtype: int64

In [8]:
#al revisar con info() se observo que hay muchos espacios vacios
a = a.dropna(subset=['genres','release_date','id','developer'])
a.reset_index(drop=True, inplace=True)
a

,genres,release_date,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",2018-01-04,761140,Kotoshiro
1,"[Free to Play, Indie, RPG, Strategy]",2018-01-04,643980,Secret Level SRL
2,"[Casual, Free to Play, Indie, Simulation, Sports]",2017-07-24,670290,Poolians.com
3,"[Action, Adventure, Casual]",2017-12-07,767400,彼岸领域
4,"[Action, Adventure, Simulation]",2018-01-04,772540,Trickjump Games Ltd
...,...,...,...,...
28658,"[Action, Adventure, Casual, Indie]",2018-01-04,745400,Bidoniera Games
28659,"[Casual, Indie, Simulation, Strategy]",2018-01-04,773640,"Nikita ""Ghost_RUS"""
28660,"[Casual, Indie, Strategy]",2018-01-04,733530,Sacada
28661,"[Indie, Racing, Simulation]",2018-01-04,610660,Laush Dmitriy Sergeevich
28662,"[Casual, Indie]",2017-09-02,658870,"xropi,stev3ns"

In [9]:
a.isnull().sum()

genres          0
release_date    0
id              0
developer       0
dtype: int64

In [10]:
# Convertir la columna 'release_date' al tipo datetime, ignorando valores no válidos
a['release_date'] = pd.to_datetime(a['release_date'], errors='coerce')

# Extraer el año y asignarlo nuevamente a la columna 'release_date'
a['release_date'] = a['release_date'].dt.year

C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_12348\30613234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['release_date'] = pd.to_datetime(a['release_date'], errors='coerce')
C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_12348\30613234.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['release_date'] = a['release_date'].dt.year

In [11]:
#expandir los generos para que tengan cada uno su fila
Genlist = a.explode('genres')
Genlist

           genres  release_date      id                 developer
0          Action        2018.0  761140                 Kotoshiro
0          Casual        2018.0  761140                 Kotoshiro
0           Indie        2018.0  761140                 Kotoshiro
0      Simulation        2018.0  761140                 Kotoshiro
0        Strategy        2018.0  761140                 Kotoshiro
...           ...           ...     ...                       ...
28661       Indie        2018.0  610660  Laush Dmitriy Sergeevich
28661      Racing        2018.0  610660  Laush Dmitriy Sergeevich
28661  Simulation        2018.0  610660  Laush Dmitriy Sergeevich
28662      Casual        2017.0  658870             xropi,stev3ns
28662       Indie        2017.0  658870             xropi,stev3ns

[71149 rows x 4 columns]

In [12]:
#Genlist = Genlist[['release_date', 'genres', 'id']]
Genlist.reset_index(drop=True, inplace=True)

In [13]:
Genlist

           genres  release_date      id                 developer
0          Action        2018.0  761140                 Kotoshiro
1          Casual        2018.0  761140                 Kotoshiro
2           Indie        2018.0  761140                 Kotoshiro
3      Simulation        2018.0  761140                 Kotoshiro
4        Strategy        2018.0  761140                 Kotoshiro
...           ...           ...     ...                       ...
71144       Indie        2018.0  610660  Laush Dmitriy Sergeevich
71145      Racing        2018.0  610660  Laush Dmitriy Sergeevich
71146  Simulation        2018.0  610660  Laush Dmitriy Sergeevich
71147      Casual        2017.0  658870             xropi,stev3ns
71148       Indie        2017.0  658870             xropi,stev3ns

[71149 rows x 4 columns]

#cambiar los datos al tipo correcto release_date as int, genres a mayusculas, y el nombre de la columna id por item_id

In [20]:
Genlist['genres'] = Genlist['genres'].str.upper()
Genlist['developer'] = Genlist['developer'].str.upper()
Genlist.dropna(subset=['release_date'], inplace=True)  # Drop rows with NaN in 'release_date'
Genlist['release_date'] = Genlist['release_date'].astype('int')
Genlist=Genlist.rename(columns={'id':'item_id'})
Genlist

           genres  release_date item_id                 developer
0          ACTION          2018  761140                 KOTOSHIRO
1          CASUAL          2018  761140                 KOTOSHIRO
2           INDIE          2018  761140                 KOTOSHIRO
3      SIMULATION          2018  761140                 KOTOSHIRO
4        STRATEGY          2018  761140                 KOTOSHIRO
...           ...           ...     ...                       ...
71144       INDIE          2018  610660  LAUSH DMITRIY SERGEEVICH
71145      RACING          2018  610660  LAUSH DMITRIY SERGEEVICH
71146  SIMULATION          2018  610660  LAUSH DMITRIY SERGEEVICH
71147      CASUAL          2017  658870             XROPI,STEV3NS
71148       INDIE          2017  658870             XROPI,STEV3NS

[70352 rows x 4 columns]

Datos limpios guardados para su uso.

In [21]:
Genlist.to_json('Clean_DataGames.json',index=False)

# T3 UserRecommend 
    se necesita el item_id(id), app_name,release_date

In [4]:
a.drop(['publisher','title','url','tags','reviews_url','specs','price','early_access','genres','developer'],axis=1, inplace=True)
a.reset_index(drop=True, inplace=True)
a.rename(columns={'app_name':'item_name','id':'item_id'}, inplace=True)
a['item_name']=a['item_name'].str.upper()
a

                      item_name release_date item_id
0           LOST SUMMONER KITTY   2018-01-04  761140
1                     IRONBOUND   2018-01-04  643980
2       REAL POOL 3D - POOLIANS   2017-07-24  670290
3                       弹炸人2222   2017-12-07  767400
4                 LOG CHALLENGE          NaN  773570
...                         ...          ...     ...
32130            COLONY ON MARS   2018-01-04  773640
32131  LOGISTICAL: SOUTH AFRICA   2018-01-04  733530
32132             RUSSIAN ROADS   2018-01-04  610660
32133       EXIT 2 - DIRECTIONS   2017-09-02  658870
32134               MAZE RUN VR          NaN  681550

[32135 rows x 3 columns]

In [5]:
# Convertir la columna 'release_date' al tipo datetime, ignorando valores no válidos
a['release_date'] = pd.to_datetime(a['release_date'], errors='coerce')

# Extraer el año y asignarlo nuevamente a la columna 'release_date'
a['release_date'] = a['release_date'].dt.year


a

                      item_name  release_date item_id
0           LOST SUMMONER KITTY        2018.0  761140
1                     IRONBOUND        2018.0  643980
2       REAL POOL 3D - POOLIANS        2017.0  670290
3                       弹炸人2222        2017.0  767400
4                 LOG CHALLENGE           NaN  773570
...                         ...           ...     ...
32130            COLONY ON MARS        2018.0  773640
32131  LOGISTICAL: SOUTH AFRICA        2018.0  733530
32132             RUSSIAN ROADS        2018.0  610660
32133       EXIT 2 - DIRECTIONS        2017.0  658870
32134               MAZE RUN VR           NaN  681550

[32135 rows x 3 columns]

In [6]:
a.dropna(subset=['release_date'], inplace=True)  # Drop rows with NaN in 'release_date'
a['release_date'] = a['release_date'].astype('int')
a

                      item_name  release_date item_id
0           LOST SUMMONER KITTY          2018  761140
1                     IRONBOUND          2018  643980
2       REAL POOL 3D - POOLIANS          2017  670290
3                       弹炸人2222          2017  767400
5         BATTLE ROYALE TRAINER          2018  772540
...                         ...           ...     ...
32129              KEBAB IT UP!          2018  745400
32130            COLONY ON MARS          2018  773640
32131  LOGISTICAL: SOUTH AFRICA          2018  733530
32132             RUSSIAN ROADS          2018  610660
32133       EXIT 2 - DIRECTIONS          2017  658870

[29783 rows x 3 columns]

In [7]:
a.to_json('Clean_DataGames_T3.json',index=False)