# Crear el data para saber el def PlayTimeGenre (Genre : str)

cargar los datos de la tabla Clean_DataGames.json que contiene los datos de genero, el Id_juego, año creado y generos del juego.

cargar los datos de la tabla Clean_Players  el jugador, el Id_juego y las horas jugadas de ese juego.

In [2]:
import os
import pandas as pd
import numpy as np

In [12]:

os.chdir(r'../dataset_raw')

In [18]:
os.chdir(r'../dataset_raw')
df_juegos= pd.read_json('Clean_DataGames.json')
df_player=pd.read_json('Clean_Players.json')

In [19]:
print(df_juegos.head(2))
print(df_player.head(2))

   genres  release_date  item_id  developer
0  ACTION          2018   761140  KOTOSHIRO
1  CASUAL          2018   761140  KOTOSHIRO
   item_id  playtime_forever                                      item_name
0       10            287503                                 COUNTER-STRIKE
1      100              4523  COUNTER-STRIKE: CONDITION ZERO DELETED SCENES

In [21]:
#unir ambas Dataframe
df_merged = pd.merge(df_juegos, df_player, on='item_id', how='inner')
df_merged

,genres,release_date,item_id,developer,playtime_forever,item_name
0,ACTION,1997,282010,STAINLESS GAMES LTD,117,CARMAGEDDON MAX PACK
1,INDIE,1997,282010,STAINLESS GAMES LTD,117,CARMAGEDDON MAX PACK
2,RACING,1997,282010,STAINLESS GAMES LTD,117,CARMAGEDDON MAX PACK
3,ACTION,1998,70,VALVE,42375,HALF-LIFE
4,STRATEGY,2006,1640,STRATEGY FIRST,433,DISCIPLES II: GALLEAN'S RETURN
...,...,...,...,...,...,...
17969,STRATEGY,2003,200980,SPIDERWEB SOFTWARE,53,GENEFORGE 2
17970,RPG,2003,200980,SPIDERWEB SOFTWARE,53,GENEFORGE 2
17971,INDIE,2003,200980,SPIDERWEB SOFTWARE,53,GENEFORGE 2
17972,ACTION,2004,13230,"EPIC GAMES, INC.",5472,UNREAL TOURNAMENT 2004
17973,ACTION,2004,80,VALVE,40419,COUNTER-STRIKE: CONDITION ZERO

In [51]:
#y se agrupan por genres y release_date sumando el play playtime_forever
grouped_df = df_merged.groupby(['genres', 'release_date'])['playtime_forever'].sum().reset_index()
grouped_df

             genres  release_date  playtime_forever
0            ACTION          1983                32
1            ACTION          1984                 2
2            ACTION          1988               228
3            ACTION          1989                 8
4            ACTION          1990               199
..              ...           ...               ...
328  WEB PUBLISHING          2013              5394
329  WEB PUBLISHING          2014               531
330  WEB PUBLISHING          2015              5753
331  WEB PUBLISHING          2016                 2
332  WEB PUBLISHING          2017               153

[333 rows x 3 columns]

In [57]:
# Assuming 'release_year' is the column containing the year
grouped_df[(grouped_df['genres'] == 'RPG')]

    genres  release_date  playtime_forever
207    RPG          1988               194
208    RPG          1992                30
209    RPG          1994                32
210    RPG          1996               373
211    RPG          1997              5569
212    RPG          1998              6053
213    RPG          1999              4237
214    RPG          2000               820
215    RPG          2001              1599
216    RPG          2002             28603
217    RPG          2003            148604
218    RPG          2004              1111
219    RPG          2005             50897
220    RPG          2006             27691
221    RPG          2007            153697
222    RPG          2008            167933
223    RPG          2009            421972
224    RPG          2010           1532393
225    RPG          2011           3800414
226    RPG          2012           2721454
227    RPG          2013           2072891
228    RPG          2014           1300934
229    RPG          2015           2509535
230    RPG          2016            928064
231    RPG          2017           1123967
232    RPG          2018                56

In [58]:
# base de datos simplificado
grouped_df.to_parquet('Data_playtimegender.parquet')

# Crear la funcion para la endpoint

    def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.

    Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [ ]:
#cargar el archivo
import os
import pandas as pd
import numpy as np

In [59]:
df_Gen = pd.read_parquet('Data_playtimegender.parquet')
df_Gen

             genres  release_date  playtime_forever
0            ACTION          1983                32
1            ACTION          1984                 2
2            ACTION          1988               228
3            ACTION          1989                 8
4            ACTION          1990               199
..              ...           ...               ...
328  WEB PUBLISHING          2013              5394
329  WEB PUBLISHING          2014               531
330  WEB PUBLISHING          2015              5753
331  WEB PUBLISHING          2016                 2
332  WEB PUBLISHING          2017               153

[333 rows x 3 columns]

In [84]:
# la funcion

def PlayTimeGenre( genero : str ):
    genero = genero.upper() #para evitar errores de mayusculas, todo se hizo mayusculas

    #revisar que el genero si sea un str y que este dentro del listado de generos posibles
    if genero not in df_Gen['genres'].unique():
        raise ValueError(f"El género '{genre}' no se encuentra en la base de datos favor de verificarlo.")
    
   
    df_query = df_Gen[df_Gen['genres'] == genero] #se extrae la parte del genero elegido

    # Encontrar el año con el mayor valor acumulado de playtime_forever
    df_query=df_query.sort_values(by='playtime_forever', ascending=False)

    return print ('Año de lanzamiento con más horas jugadas para Género ' ,genero,' : ', df_query['release_date'].iloc[0])

In [87]:
PlayTimeGenre('actIon')

Año de lanzamiento con más horas jugadas para Género  ACTION  :  2012